
<table class="table table-striped ">
  <tr>
    <th>STT</th>
    <th>Name Customer</th>
    <th>Name Facility</th>
    <th>End Day</th>
    <th>Start Day</th>
    <th>Deposition</th>
    <th>Total</th>
    <th>Attach Facility</th>
  </tr>
  <tr *ngFor="let c of contract;index as i">
    <td>{{i+1}}</td>
    <td>{{c.customerTypes.name}}</td>
    <td>{{c.facility.name}}</td>
    <td>{{c.endDate}}</td>
    <td>{{c.startDate}}</td>
    <td>{{c.deposit}}</td>
    <td>222222</td>
    <td>+</td>

  </tr>
</table>
