<app-header></app-header>
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create</h1>
      <div class="body">
        <form method="post">
          <div class="row">
            <div class="col-md-4">
              <button type="button" class="btn btn-primary" onclick="addVilla()">Villa
              </button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-primary" onclick="addHouse()">House
              </button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-primary" onclick="addRoom()">Room
              </button>
            </div>
          </div>
          <hr>
          <input id="facilityType" hidden>
          <div class="row">
            <div class="col-md-3">
              <p>Name</p>
            </div>
            <div class="col-md-9">
              <input  type="text">
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <p>Area</p>
            </div>
            <div class="col-md-9">
              <input type="number">
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <p>Cost</p>
            </div>
            <div class="col-md-9">
              <input type="number">
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <p>Max People</p>
            </div>
            <div class="col-md-9">
              <input  type="number">
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <p>Rent Type</p>
            </div>
            <div class="col-md-9">
              <select>
                <option
                ></option>
              </select>
            </div>

          </div>
          <div class="row" id="standRoom">
            <div class="col-md-3">
              <p>Stand Room</p>
            </div>
            <div class="col-md-9">
              <input  type="text">
            </div>
          </div>
          <div class="row" id="descriptionOtherConvenience">
            <div class="col-md-3">
              <p>Description other convenience</p>
            </div>
            <div class="col-md-9">
              <input  type="text">
            </div>
          </div>
          <div class="row" id="poolArea">
            <div class="col-md-3">
              <p>Pool Area</p>
            </div>
            <div class="col-md-9">
              <input type="text">

            </div>
          </div>
          <div class="row" id="numberOfFloors">
            <div class="col-md-3">
              <p>Number Of Floors</p>
            </div>
            <div class="col-md-9">
              <input  type="text">
            </div>
          </div>
          <div class="row" id="facilityFree">
            <div class="col-md-3">
              <p>Facility Free</p>
            </div>
            <div class="col-md-9">
              <input  type="text">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
<app-footer></app-footer>
