<app-header></app-header>
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create</h1>
      <div class="body">
        <form [formGroup]="facilityForm" (ngSubmit)="save()">
<!--          <div class="row">-->
<!--            <div class="col-md-4">-->
<!--              <button type="button" class="btn btn-primary" onclick="addVilla()">Villa-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--              <button type="button" class="btn btn-primary" onclick="addHouse()">House-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--              <button type="button" class="btn btn-primary" onclick="addRoom()">Room-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
          <input id="facilityType" hidden>
          <div class="row">
            <div class="col-md-3">
              <p>Name</p>
            </div>
            <div class="col-md-9">
              <input formControlName="name" type="text" >
              <p *ngIf="facilityForm.controls.name.touched&&facilityForm.controls.name.errors.required">không được để trống trường này </p>
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <p>Area</p>
            </div>
            <div class="col-md-9">
              <input formControlName="area" type="number" >
              <p *ngIf="facilityForm.controls.area.touched&&facilityForm.controls.area.errors.min">Số phải lớn hơn 0 </p>
              <p *ngIf="facilityForm.controls.area.touched&&facilityForm.controls.area.errors.required">không được để trống trường này </p>

            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <p>Cost</p>
            </div>
            <div class="col-md-9">
              <input formControlName="cost" type="number">
              <p *ngIf="facilityForm.controls.cost.touched&&facilityForm.controls.cost.errors.min">Số phải lớn hơn 0 </p>
              <p *ngIf="facilityForm.controls.cost.touched&&facilityForm.controls.cost.errors.required">không được để trống
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <p>Max People</p>
            </div>
            <div class="col-md-9">
              <input  type="number">
              <p *ngIf="facilityForm.controls.maxPeople.touched&&facilityForm.controls.maxPeople.errors.min">Số phải lớn hơn 0 </p>
              <p *ngIf="facilityForm.controls.maxPeople.touched&&facilityForm.controls.maxPeople.errors.required">không được để trống
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <p>Rent Type</p>
            </div>
            <div class="col-md-9">
              <select>
                <option></option>
              </select>
            </div>

          </div>
          <div class="row" id="standRoom">
            <div class="col-md-3">
              <p>Stand Room</p>
            </div>
            <div class="col-md-9">
              <input formControlName="standardRoom" type="text">
              <p *ngIf="facilityForm.controls.standardRoom.touched&&facilityForm.controls.standardRoom.errors.required">không được
            </div>
          </div>
          <div class="row" id="descriptionOtherConvenience">
            <div class="col-md-3">
              <p>Description other convenience</p>
            </div>
            <div class="col-md-9">
              <input formControlName="descriptionOtherConvenience" type="text">
              <p *ngIf="facilityForm.controls.descriptionOtherConvenience.touched&&facilityForm.controls.descriptionOtherConvenience.errors.required">không được

            </div>
          </div>
          <div class="row" id="poolArea">
            <div class="col-md-3">
              <p>Pool Area</p>
            </div>
            <div class="col-md-9">
              <input formControlName="poolArea" type="text">
              <p *ngIf="facilityForm.controls.poolArea.touched&&facilityForm.controls.poolArea.errors.min">Số phải lớn hơn 0 </p>
            </div>
          </div>
          <div class="row" id="numberOfFloors">
            <div class="col-md-3">
              <p>Number Of Floors</p>
              <p *ngIf="facilityForm.controls.numberOfFloors.touched&&facilityForm.controls.numberOfFloors.errors.min">Số phải lớn hơn 0 </p>

            </div>
            <div class="col-md-9">
              <input  type="text">
            </div>
          </div>
          <div class="row" id="facilityFree">
            <div class="col-md-3">
              <p>Facility Free</p>
            </div>
            <div class="col-md-9">
              <input  type="text">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
<app-footer></app-footer>
