
<app-header></app-header>
<div class="row body " id="bg2">
  <div class="d-flex justify-content-center">

    <div class=" col-md-6 ">

      <h3 style=" text-align: center" class="fw-light">Create Customer</h3>
      <form [formGroup]="customerForm" (ngSubmit)="customerSave()" *ngIf="customerForm">

        <span class="text"> Name</span>
        <input class="form-control" type="text" formControlName="name" >
        <p *ngIf="customerForm.controls.name.touched&&customerForm.controls.name.errors.required">Không được để trống </p>
        <p *ngIf="customerForm.controls.name.touched&&customerForm.controls.name.errors.pattern">Tên Không được chứa số </p>

        <br>

        <span class="text">Day Of Brith</span>
        <input class="form-control" type="date" formControlName="birthday" >
        <p *ngIf="customerForm.controls.birthday.touched&&customerForm.controls.birthday.errors.required">Không được để trống </p>

        <br>
        <span class="text">Id Card</span>
        <input class="form-control" formControlName="idCard" type="text" >
        <p *ngIf="customerForm.controls.idCard.touched&&customerForm.controls.idCard.errors.required">Không được để trống </p>
        <p *ngIf="customerForm.controls.idCard.touched&&customerForm.controls.idCard.errors.pattern">Không được chứa chữ</p>

        <br>
        <span class="text">Phone Number</span>
        <input class="form-control" type="text"  formControlName="phone">
        <p *ngIf="customerForm.controls.idCard.touched&&customerForm.controls.idCard.errors.required">Không được để trống </p>
        <p *ngIf="customerForm.controls.idCard.touched&&customerForm.controls.idCard.errors.required">Số điện thoại chưa  đúng định dạng </p>

        <br>
        <span class="text">Email</span>
        <input class="form-control" type="email" formControlName="email">
        <p *ngIf="customerForm.controls.email.touched&&customerForm.controls.email.errors.required">Không được để trống </p>
        <p *ngIf="customerForm.controls.email.touched&&customerForm.controls.email.errors.email">Chưa đúng định dạng</p>

        <br>
        <span class="text">Address</span>
        <input class="form-control" type="text" formControlName="address">
        <p *ngIf="customerForm.controls.address.touched&&customerForm.controls.address.errors.required">Không được để trống </p>
        <br>
        <span class="text">Type</span>
        <select>
          <option></option>
        </select>

        <p style="color: red"></p>

        <br>
        <span class="radio">Gender</span>
        <input type="radio"  formControlName="gender">Nam
        <input type="radio" formControlName="gender">Nữ
        <p *ngIf="customerForm.controls.gender.pristine&&customerForm.controls.gender.errors.required">Không được để trống </p>
        <hr>
        <button class="btn btn-primary">Save</button>
        <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><a>close</a></button>

      </form>
    </div>
  </div>
  <br>
</div>
<app-footer></app-footer>
