
<div class="row bg-primary ">
  <p>Weather</p>
</div>
<div class="row header h-20 bg-white">
  <div class="col 12 col-md-3 col-sm-6"><img src="./assets/img/logo2x.png" height="100"></div>
  <div class="col-md-2 col-sm-6  "><img src="./assets/widget-tripadvisor-rating.png" width="50%" height="30%">
    <p>Review </p>
  </div>
  <div class="col-md-3 col-sm-6 fst-italic "><p> Address: 103 – 105 Võ Nguyên Giáp Street, Khuê Mỹ wards, Ngũ hành
    Sơn
    District,
    Đà Nẵng city, Việt Nam
    7.0 km from International Airport Đà Nẵng</p></div>
  <div class="col-md-3 col-sm-5">
    <p>
      Phone: 84-236-3847 333/888 reservation@furamavietnam.com</p>
  </div>
  <div class="col-md-1 col-sm-1 ">
    <p>Nguyen The </p>

  </div>

</div>

