<app-header></app-header>
<table class="table table-row-cell">
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Id Card</th>
    <th>Address</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Phone Number</th>
    <th>Day Of Birth</th>
    <th>Customer Type</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Nguyen Van A</td>
    <td>0246749225</td>
    <td>Đà Lạt</td>
    <td>nguyena@gmail.com</td>
    <td>nam</td>
    <td>09786245</td>
    <td>22/12/2002</td>
    <td>gold</td>
    <td><button>Delete</button></td>
    <td><button>edit</button></td>
  </tr>
</table>
<app-footer></app-footer>
