<app-header></app-header>
<table class="table table-primary">
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Id Card</th>
    <th>Address</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Phone Number</th>
    <th>Day Of Birth</th>
    <th>Customer Type</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let c of customers; index as i">
    <td>{{i +1}}</td>
    <td>{{c.name}}</td>
    <td>{{c.idCard}}</td>
    <td>{{c.address}}</td>
    <td>{{c.email}}</td>
    <td   >
      <ng-container *ngIf="c.gender">
        Nam
      </ng-container  >
      <ng-container *ngIf="!c.gender">
        Nữ
      </ng-container>

    </td>
    <td>{{c.phone}}</td>
    <td>{{c.birthday}}</td>
    <td>1</td>

    <td>
      <button class="btn btn-outline-warning">Delete</button>
    </td>
    <td>
      <button class="btn btn-outline-warning">edit</button>
    </td>
  </tr>
</table>
<app-footer></app-footer>
