<app-header></app-header>
<div class="row">
  <div class="col 12 col-md-3 col-sm-6" *ngFor="let f of facility">
    <div class="card" style="width: 18rem;">
      <img [src]="f.img" class="card-img-top" alt="...">

      <div class="card-body">
        <h5 class="card-title">{{f.name}}</h5>
        <p class="card-text">{{f.cost}}</p>
        <button type="button" class="btn btn-primary" data-bs-target="#edit" data-bs-toggle="modal">Create
        </button>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
