<app-header></app-header>
<h1 class="modal-title fs-5">Create Contract</h1>
<form [formGroup]="contractForm" (ngSubmit)="edit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3">
        <span>Ngày bắt đầu</span>
      </div>
      <div class="col-md-9">
        <input formControlName="startDate" class="form-control" id="startDay" min="2022-12-22"
               data-date-format="DD MMMM YYYY" type="date"/>

        <p *ngIf="contractForm.controls.startDate.touched&&contractForm.controls.startDate.errors.required">Không được
          để trống</p>
      </div>
      <div class="col-md-3">
        <span>Ngày kết thúc</span>
      </div>
      <div class="col-md-9">
        <input type="date" formControlName="endDate" class="form-control" id="endDay"
               title="Ngày theo định dạng DD/MM/YYYY">
        <p *ngIf="contractForm.controls.endDate.touched&&contractForm.controls.endDate.errors.required">Không được để
          trống</p>

      </div>

      <div class="col-md-3">
        <span>Tiền gửi</span>
      </div>
      <div class="col-md-9">
        <input type="number" formControlName="deposit" class="form-control" id="deposit">
        <p *ngIf="contractForm.controls.deposit.touched&&contractForm.controls.deposit.errors.required">Không được để
          trống</p>
        <p *ngIf="contractForm.controls.deposit.touched&&contractForm.controls.deposit.errors.min">Không bé hơn 0</p>

      </div>
      <div class="col-md-3">
        <span>Tổng tiền</span>
      </div>
      <div class="col-md-9">
        <input type="number" id="sumCost" class="form-control" readonly>

      </div>
      <div class="col-md-3">
        <span>Chọn khách hàng</span>
      </div>
      <div class="col-md-9">
        <select id="customer" formControlName="customerTypes">
          <option></option>
        </select>
        <p *ngIf="contractForm.controls.customerTypes.touched&&contractForm.controls.customerTypes.errors.min">Không
          được để trống</p>

        <p></p>
      </div>
      <div class="col-3">
        <span>Dịch vụ</span>
      </div>
      <div class="col-9">
        <select id="facility" formControlName="facility">
          <option></option>
        </select>
        <p *ngIf="contractForm.controls.facility.touched&&contractForm.controls.facility.errors.min">Không được để
          trống</p>

      </div>
      <div class="col-md-4">
        <span>Dịch vụ đi kèm</span>
        <button type="button" class="btn btn-outline-primary">+
        </button>
      </div>
      <div class="row" style="display: none" id="showAttach">

        <div class="row checkbox-list">
          <div class="col-md-6">
            <input class="form-check-input check" type="checkbox">
          </div>
          <div class="col-md-3">
            <p>Quantity</p>
          </div>
          <div class="col-md-3">
            <input type="number" min="1" class="form-control quantity">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" disabled id="save">
      Save changes
    </button>
  </div>
</form>
<app-footer></app-footer>
